:root{
    --background-color:#202020;
    --text-color:#FEDA4E;
    --light-background-color:#272727;
    --primary-font:font-family: 'Michroma', sans-serif;
    --secondary-font:font-family: 'Nunito', sans-serif;
}
/* https://www.behance.net/gallery/113452517/Industrial-product-portfolio?tracking_source=search_projects%7C%20portfolio%20 */
/* <i class="fa-solid fa-code"></i>  coding profiles icon*/
/* <i class="fa-brands fa-html5"></i>  HTML icon */
/* <i class="fa-brands fa-css3-alt"></i>  CSS icon*/
/* <i class="fa-brands fa-square-js"></i> js icon */
/* <i class="fa-brands fa-java"></i> java icon */
/* <i class="icon-cplusplus"></i>  C++ icon  */
/* <i class="fa-brands fa-square-facebook"></i> facebook icon */
/* <i class="fa-brands fa-instagram"></i> insta icon */
/* <i class="fa-brands fa-twitter"></i> twitter icon */